-var minTable=data.minTable;
-var maxTable=data.maxTable;
-var tab = minTable;
-var checked = 'false';

#controls.mm-controls
    h2.controls-title Select test options and press Go!
    div
      label Test time
          select(name='countdown-time')
            option(value='30') 30 seconds
            option(value='60') 1 minute
            option(value='90') 90 seconds
            option(value='120' selected='selected') 2 minutes
            option(value='150') 2.5 minutes
            option(value='180') 3 minutes
    //input.countdown-time(type=text, value='120', name='countdown-time', id='countdown-time')
    div
      label Which tables?
        while tab <= maxTable
          if (tab === 7)
            -  checked = true
          else
            -  checked = false
          input.tables(type='checkbox', value=tab, name='tables', id='tables-'+tab, checked=checked)
          span.tables #{tab}
          - tab = tab + 1;
    div
      label Total questions
        input.total-questions(type=text, value='12', name='total-questions', id='total-questions')
    //div
    //  label Order
    //    input.randomize(type='radio', value='N', name='randomize', id='randomizeNo' checked='true')
    //    span.radio In order
    //    input.randomize(type='radio', value='Y', name='randomize', id='randomizeYes')
    //    span.radio
    div
        label Order
        select(name='randomorder')
            option(value='N', id='randomizeNo') In order
            option(value='Y', id='randomizeYes' selected='selected') Random order
    div
        label Type of test
        select(name='operator')
            option(value='x', id='operator-times' selected='selected') Times tables
            option(value='+', id='operator-addition') Addition tables
            //option(value='+', id='operator-divide') Division
            //option(value='+', id='operator-times') Subtraction
            option(value='n', id='operator-bond') Number Bonds
    div
      label Cols to hide
      //input.cols-to-hide(type='text', value='1', name='cols-to-hide', id='cols-to-hide1')
      input.cols-to-hide(type='checkbox', value='1', name='cols-to-hide', id='cols-to-hide1' checked='true')
      span.radio First
      input.cols-to-hide(type='checkbox', value='2', name='cols-to-hide', id='cols-to-hide2' checked='true')
      span.radio Second
      input.cols-to-hide(type='checkbox', value='3', name='cols-to-hide', id='cols-to-hide3' checked='true')
      span.radio Result
    div
      button.start(type=button onclick="mm.start()") Go!
      button.stop(type=button onclick="mm.stop()") I'm Finished